body {
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .frame{
    border: 1px solid #ccc;
    height: fit-content;
    width: 60%;
    align-items: center;
    padding: 0 10px 10px 10px;
    border-radius: 1%;
  }

  label{
    display: block;
  }

  input{
    width: 95%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.7rem 1.2rem;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    background-color: #0056b3;
  }

  h2 {
    text-align: center;
  }

  .isi{
    height: 600px;
  }